.env.example
.github/**
.vscode-test/**
.vscode/**

node_modules/**
resources/readme/**
scripts/**
src/**

**/.eslintrc.json
**/*.map
**/*.ts
**/eslint.config.mjs
**/tsconfig.json

.gitignore
.prettierignore
.prettierrc
resources/readme/**
**/eslint.config.mjs
.env
.yarnrc
*.vsix
*.zip

CHANGELOG.md
IDEAS.md
RELEASE.md
webpack.config.js
jest.mcp.config.js
