.vscode/**
.vscode-test/**
.github/**
src/**
node_modules/**
.gitignore
*.zip
*.vsix
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
IDEAS.md
RELEASE.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
scripts/**
CHANGELOG.md
