#workflow-tester-body {
	display: flex;
	flex-direction: column;
}

#tenant,
#workflow,
#payload,
#submit-button {
	width: 100%;
}

.param-container {
	margin-bottom: 0.5rem;
	width: 100%;
}

.param-container>p {
	margin-bottom: 0.5rem;
}

#params-container {
	display: grid;
	grid-auto-flow: row;
}

#submit-button {
	width: fit-content;
}