name: publish extension
on:
  pull_request:
    branches: [main]
  push:
    branches:
      - main
    tags:
      - '**'
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
    - name: Install the dependencies
      run: npm ci

    - name: Install vsce
      run: npm i -g @vscode/vsce
    # - run: xvfb-run -a npm test
    #   if: runner.os == 'Linux'
    # - run: npm test
    #   if: runner.os != 'Linux'
    # added --allow-package-secrets sendgrid to prevent false positive on the code SG.commands.executeCommand
    # SendGrid is not used at all
    # cf. https://github.com/yannick-beot-sp/vscode-sailpoint-identitynow/actions/runs/16379580167/job/46287795609#step:6:89
    - name: Compile and create vsix
      run: vsce package --allow-package-secrets sendgrid
    - name: Upload vsix as artifact
      uses: actions/upload-artifact@v4
      with:
        path: ${{github.workspace}}/vscode-sailpoint-identitynow-*.vsix

    - name: Release
      uses: softprops/action-gh-release@v1
      if: success() && startsWith( github.ref, 'refs/tags/releases/')
      with:
        files: vscode-sailpoint-identitynow-*.vsix
    - name: Publish
      if: success() && startsWith( github.ref, 'refs/tags/releases/')
      run: vsce publish -p ${{ secrets.VSCE_PAT }} --allow-package-secrets sendgrid
    - name: Publish to Open VSX Registry
      if: success() && startsWith( github.ref, 'refs/tags/releases/')
      run: npx ovsx publish ${{github.workspace}}/vscode-sailpoint-identitynow-*.vsix
      env:
        OVSX_PAT: ${{ secrets.OVSX_PAT }}